@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Raleway&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #dcfff3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.container {
  width: 100%;
  max-width: 600px;
  padding: 1rem;
  background-color: rgb(195, 232, 255);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-img {
  width: 260px;
  height: 260px;
  border-radius: 50%;
  background-image: url("https://picsum.photos/id/1005/300");
  background-size: cover;
  margin: 1rem 0 2rem;
}
#title {
  font-family: "Open Sans", sans-serif;
  margin-bottom: 1rem;
  text-transform: capitalize;
  color: #222;
}
#description {
  font-family: "Raleway", sans-serif;
  padding: 0 1rem;
  line-height: 1.3rem;
}
.btns {
  margin-top: 1rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.left-right {
  width: 120px;
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
}
#random-btn {
  width: 100px;
  background-color: #dcfff3;
  padding: 0.5rem 1rem;
  margin-top: 0.8rem;
  text-align: center;
  border: 1px solid #222;
  border-radius: 0.5rem;
  text-transform: uppercase;
}
#random-btn:hover {
  background-color: #bef3e0;
}
footer {
  font-family: "Raleway", sans-serif;
  font-size: 0.9rem;
  padding: 1rem;
  width: 96%;
  max-width: 400px;
  text-align: center;
  background-color: #222;
  color: #eee;
  border-radius: 0.5rem;
  margin-top: 1rem;
}
